#add-btn {
    margin-left: .8rem;
 }

#clear-btn {
    margin-left: 1rem;
}
 
.tile {
    margin-top: 4rem; 
}

#task-title {
    margin-bottom: 2rem;
}

i {
    color: black;
}
 
 /* label color */
 .input-field label {
    color: rgba(200,200,200,.9);
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: green !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid green !important;
    box-shadow: 0 1px 0 0 green !important;
  }
 